div.top-banner
    div.c-wrap
        div.top-banner__content
            h1.top-banner__content-title Каникулы с пользой
            p.par-def Отдых в&nbsp;лучших детских лагерях России с&nbsp;<nobr>мастер-классами</nobr> и&nbsp;учебными курсами от&nbsp;Сбербанка
            ul.ul-def.par-def
                li Развитие лидерских качеств
                li Профессиональная ориентация
                li Финансовая грамотность

            img.top-banner__content-ad(src="img/top-banner-ad.png")
