block head
    header.p-head
        div.head-logo.p-head__logo
            div.head-logo__item
                img(src="img/logo-basecamp.png")
            div.head-logo__item
                img(src="img/logo-sber.png")

        div.top-contact-me.p-head__contacts
            button.btn-contact.btn-sec.js-mfp(data-mfp-src="#mfp-contacts")
                span.btn-contact__txt Свяжитесь со мной
                img.btn-contact__ico(src="img/ico-phone-tube.svg")