div.bot-form-wrap
    div.c-wrap
        form#bot-contacts.js-contact-form.bot-contact(data-type="question")
            h2.bot-contact__title Остались&nbsp;вопросы? Напишите&nbsp;нам

            p.par-def.bot-contact__subtitle И&nbsp;наши специалисты в&nbsp;бижайшее время свяжутся с&nbsp;Вами

            div.form-row.form-row_3cols
                div.form-row__item
                    input.inp-def(placeholder="ФИО" name="name" data-validation="required")

                div.form-row__item
                    input.inp-def(placeholder="Электронная почта" type="text" name="email" data-validation="email")

                div.form-row__item
                    input.inp-def(placeholder="Телефон" type="text" name="phone" data-validation="length" data-validation-length="min6")

            div.form-row
                div.form-row__item
                    textarea.inp-def.tarea-def(placeholder="Введите сообщение" name="text" data-validation="required")

            div.form-row
                div.form-row__item.row-item-send
                    button.btn-prim.btn-send Отправить

                div.form-row__item
                    label.lbl-row.pd-processing
                        div.lbl-row__inp
                            div.fake-check.fake-check_check
                                input(type="checkbox" data-validation="required" name="agreement" checked)
                                div.fake-check__inp
                        span.lbl-row__txt Даю согласие на обработку персональных данных.

    include ../includes/inc-footer