$paths: (
    font: '../fonts/',
    bg: '../img/'
);

$mq: (
    small-mobile: 360px,
    mobile: 640px,
    tablet: 768px,
    desktop: 1024px,
    default: 1140px
);

//-colors---
$color-txt: #37384f;
//-colors---

//-font size----
$fz-default: 24px;
$fz-small: $fz-default - 2;
$fz-medium: $fz-default + 2;
$fz-big: $fz-default + 4;
$fz-xl: $fz-default + 6;
//-font size----

//-size, padding, margins-----
$grid-gutter: .8333rem; //20px
$grid-col: 3.333rem; //80px
//-size, padding, margins-----