/* Magnific Popup CSS */
@import "settings";

////////////////////////
//
// Contents:
//
// 1. General styles
//    - Transluscent overlay
//    - Containers, wrappers
//    - Cursors
//    - Helper classes
// 2. Appearance
//    - Preloader & text that displays error messages
//    - CSS reset for buttons
//    - Close icon
//    - "1 of X" counter
//    - Navigation (left/right) arrows
//    - Iframe content type styles
//    - Image content type styles
//    - Media query where size of arrows is reduced
//    - IE7 support
//
////////////////////////

////////////////////////
// 1. General styles
////////////////////////

// Transluscent overlay
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $mfp-z-index-base + 2;
    overflow: hidden;
    position: fixed;

    background: $mfp-overlay-color;
    opacity: $mfp-overlay-opacity;
}

// Wrapper for popup
.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $mfp-z-index-base + 3;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; // fixes webkit bug that can cause "false" scrollbar
    filter: blur(0) grayscale(0);
}

// Root container
.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 $mfp-popup-padding-left;
    box-sizing: border-box;
}

// Vertical centerer helper
.mfp-container {
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

// Remove vertical centering when popup has class `mfp-align-top`
.mfp-align-top {
    .mfp-container {
        &:before {
            display: none;
        }
    }
}

// Popup content holder
.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: $mfp-z-index-base + 5;
}

.mfp-inline-holder,
.mfp-ajax-holder {
    .mfp-content {
        width: 100%;
        cursor: auto;
    }
}

// Cursors
.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur {
    &, .mfp-image-holder .mfp-close {
        cursor: -moz-zoom-out;
        cursor: -webkit-zoom-out;
        cursor: zoom-out;
    }
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor {
    .mfp-content {
        cursor: auto;
    }
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    user-select: none;
}

// Hide the image during the loading
.mfp-loading {
    &.mfp-figure {
        display: none;
    }
}

// Helper class that hides stuff
@if $mfp-use-visuallyhidden {
    // From HTML5 Boilerplate https://github.com/h5bp/html5-boilerplate/blob/v4.2.0/doc/css.md#visuallyhidden
    .mfp-hide {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
    }
} @else {
    .mfp-hide {
        display: none !important;
    }
}

////////////////////////
// 2. Appearance
////////////////////////

// Preloader and text that displays error messages
.mfp-preloader {
    color: $mfp-controls-text-color;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: $mfp-z-index-base + 4;
    a {
        color: $mfp-controls-text-color;
        &:hover {
            color: $mfp-controls-text-color-hover;
        }
    }
}

// Hide preloader when content successfully loaded
.mfp-s-ready {
    .mfp-preloader {
        display: none;
    }
}

// Hide content when it was not loaded
.mfp-s-error {
    .mfp-content {
        display: none;
    }
}

// CSS-reset for buttons
button {
    &.mfp-close,
    &.mfp-arrow {
        overflow: visible;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        display: block;
        outline: none;
        padding: 0;
        z-index: $mfp-z-index-base + 6;
        box-shadow: none;
        touch-action: manipulation;
    }
    &::-moz-focus-inner {
        padding: 0;
        border: 0
    }
}

// Close icon
.mfp-close {
    width: 1.3rem;
    height: 1.3rem;
    border: 0;
    background: transparent url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2016%22%0A%20width%3D%2216px%22%20height%3D%2216px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%280%2C%200%2C%200%29%22%0A%20d%3D%22M15.997%2C1.457%20L9.434%2C8.020%20L15.778%2C14.364%20L14.364%2C15.778%20L8.020%2C9.434%20L1.457%2C15.997%20L0.003%2C14.543%20L6.566%2C7.980%20L0.222%2C1.636%20L1.636%2C0.222%20L7.980%2C6.566%20L14.543%2C0.003%20L15.997%2C1.457%20Z%22/%3E%0A%3C/svg%3E) 50% 50% no-repeat !important;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-indent: -100rem;
    overflow: hidden !important;
}


.mfp-close-btn-in {
    .mfp-close {
        color: $mfp-inner-close-icon-color;
    }
}

.mfp-image-holder,
.mfp-iframe-holder {
    .mfp-close{
        top: -2.5rem;
        right: 0;
        background: transparent url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23fff%22%0A%20d%3D%22M15.997%2C1.457%20L9.434%2C8.020%20L15.778%2C14.364%20L14.364%2C15.778%20L8.020%2C9.434%20L1.457%2C15.996%20L0.003%2C14.543%20L6.566%2C7.980%20L0.222%2C1.636%20L1.636%2C0.222%20L7.980%2C6.566%20L14.543%2C0.003%20L15.997%2C1.457%20Z%22/%3E%0A%3C/svg%3E) 50% 50% no-repeat !important;
    }
    //.mfp-close {
    //    color: $mfp-controls-color;
    //    right: -6px;
    //    text-align: right;
    //    padding-right: 6px;
    //    width: 100%;
    //}
}

// "1 of X" counter
.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: $mfp-controls-text-color;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

// Navigation arrows
@if $mfp-include-arrows {
    .mfp-arrow {
        position: absolute;
        opacity: $mfp-controls-opacity;
        margin: 0;
        top: 50%;
        margin-top: -55px;
        padding: 0;
        width: 90px;
        height: 110px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:active {
            margin-top: -54px;
        }
        &:hover,
        &:focus {
            opacity: 1;
        }
        background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2212px%22%20height%3D%2234px%22%20viewBox%3D%220%200%2012%2034%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23fff%22%0A%20d%3D%22M11.896%2C17.000%20L11.991%2C17.159%20L11.707%2C17.317%20L1.778%2C34.004%20L0.009%2C33.013%20L9.538%2C17.000%20L0.009%2C0.987%20L1.778%2C-0.004%20L11.707%2C16.682%20L11.991%2C16.841%20L11.896%2C17.000%20Z%22/%3E%0A%3C/svg%3E) 50% 50% no-repeat !important;
    }

    .mfp-arrow-left {
        left: -90px;
        transform: rotate(180deg);
    }

    .mfp-arrow-right {
        right: -90px;
    }

    @media all and (max-width: 900px) {
        .mfp-container {
            padding-left: $mfp-popup-padding-left-mobile;
            padding-right: $mfp-popup-padding-left-mobile;
        }
    }
}

// Iframe content type
@if $mfp-include-iframe-type {
    .mfp-iframe-holder {
        padding-top: $mfp-iframe-padding-top;
        padding-bottom: $mfp-iframe-padding-top;
        .mfp-content {
            line-height: 0;
            width: 100%;
            max-width: $mfp-iframe-max-width;
        }
        .mfp-close {
            top: -40px;
        }
    }
    .mfp-iframe-scaler {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-top: $mfp-iframe-ratio * 100%;
        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: $mfp-shadow;
            background: $mfp-iframe-background;
        }
    }
}

// Image content type
@if $mfp-include-image-type {

    /* Main image in popup */
    img {
        &.mfp-img {
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
            line-height: 0;
            box-sizing: border-box;
            //padding: $mfp-image-padding-top 0 $mfp-image-padding-bottom;
            margin: 0 auto;
        }
    }

    /* The shadow behind the image */
    .mfp-figure {
        line-height: 0;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: $mfp-image-padding-top;
            bottom: $mfp-image-padding-bottom;
            display: block;
            right: 0;
            width: auto;
            height: auto;
            z-index: -1;
            box-shadow: $mfp-shadow;
            background: $mfp-image-background;
        }
        small {
            color: $mfp-caption-subtitle-color;
            display: block;
            font-size: 12px;
            line-height: 14px;
        }
        figure {
            margin: 0;
        }
    }
    .mfp-bottom-bar {
        margin-top: -$mfp-image-padding-bottom + 4;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        cursor: auto;
    }
    .mfp-title {
        text-align: left;
        line-height: 18px;
        color: $mfp-caption-title-color;
        word-wrap: break-word;
        padding-right: 36px; // leave some space for counter at right side
    }

    .mfp-image-holder {
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        .mfp-content {
            max-width: 100%;
        }
    }

    .mfp-gallery {
        .mfp-image-holder {
            .mfp-figure {
                cursor: pointer;
            }
        }
    }

    @if $mfp-include-mobile-layout-for-image {
        @media screen and (max-width: 800px), screen and (max-height: 300px) {
            /**
             * Remove all paddings around the image on small screen
             */
            //.mfp-img-mobile {
                .mfp-image-holder {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    left: 0;
                    transform: translateX(0);

                    .mfp-close {
                        top: -30px;
                    }
                }
                img {
                    &.mfp-img {
                        padding: 0;
                    }
                }
                .mfp-figure {
                    // The shadow behind the image
                    &:after {
                        top: 0;
                        bottom: 0;
                    }
                    small {
                        display: inline;
                        margin-left: 5px;
                    }
                }
                .mfp-bottom-bar {
                    background: rgba(0, 0, 0, 0.6);
                    bottom: 0;
                    margin: 0;
                    top: auto;
                    padding: 3px 5px;
                    position: fixed;
                    box-sizing: border-box;
                    &:empty {
                        padding: 0;
                    }
                }
                .mfp-counter {
                    right: 5px;
                    top: 3px;
                }
                .mfp-arrow-left {
                    left: -20px;
                }

                .mfp-arrow-right {
                    right: -20px;
                }


            //}
        }
    }
}

// Scale navigation arrows and reduce padding from sides


