extends ../tmpl/default

block page-content
    - var campsData = camps.items;


    each item in campsData
        section.camp(id= item.id)
            div.camp__gal.js-mfp-gal.js-small-gal
                div.camp-geo #{item.geo}
                div.small-gal-arrow.small-gal-arrow-left
                div.small-gal-arrow.small-gal-arrow-right
                each pic in item.pics
                    img(data-mfp-src='img/'+pic src='img/'+pic alt="")

            div.camp__body
                h3.camp-title #{item.title}
                div.camp-data
                    div.camp-data__item
                        img(src="img/ico-calendar.svg")
                        | #{item.term}
                    div.camp-data__item
                        img(src="img/ico-age.svg")
                        | #{item.age}
                div.camp-desc
                    p #{item.desc}
                div.camp-btn-toggle.camp-btn-toggle_desctop.js-camp-expand Подробнее
            div.camp-btn-toggle.camp-btn-toggle_tablet.js-camp-expand Подробнее
            div.camp__offer
                div.camp-cost
                    if item.costTerms
                        div.camp-cost-add.js-touch-hint ?
                            div.camp-cost-hint
                                each term in item.costTerms
                                    p !{term}
                    span.js-offer-cost #{item.cost} руб.


                div.camp-add.js-touch-hint Что входит в стоимость?
                    img(src="img/ico-additional.svg")
                    div.camp-add-hint
                        ul.ul-def.ul-def_dots
                            each inc in item.includes
                                li #{inc}
                div.camp-book
                    button.btn-sec.js-get-offer Забронировать
            div.camp-btn-toggle.camp-btn-toggle_mobile.js-camp-expand Подробнее

            div.camp-extended
                div.camp-extended__section
                    if item.extend
                        each exttxt in item.extend.txt
                            p.par !{exttxt}

                        div.camp-extended__section
                            p.par-def <b>В стоимость входит:</b>
                                ul.ul-def.ul-def_dots.camp-includes-list
                                    each inc in item.includes
                                        li #{inc}
                        div.camp-extended__section
                            div.camp-benefits
                                each bItem,index in item.extend.benefits
                                    div.camp-benefits__item
                                        div.camp-benefit
                                            h4.camp-benefit__title(class="benefit-"+index) #{bItem.title}
                                            if bItem.txt.length > 1
                                                ul.ul-def.ul-def_dots
                                                    each bItemTxt in bItem.txt
                                                        li !{bItemTxt}
                                            else
                                                p.par !{bItem.txt[0]}

                                            if bItem.note
                                                p.par-def.benefit-footnote * !{bItem.note}

                        button.btn-sec.btn-send.js-get-offer Забронировать

    div#mfp-booking.popup.mfp-hide
        //button.popup__close
        h3.popup__title Заполнить заявку

        form#form-booking.form-booking(data-type="request")
            input#lname(type="hidden" name="lname")
            div.form-booking__body
                div.form-row
                    div.form-row__item
                        input.inp-def(placeholder="ФИО" data-validation="required" name="name")

                div.form-row
                    div.form-row__item.row-item-childs
                        //input#child-num.inp-def(placeholder="Кол-во детей" value="1" data-validation="number" data-validation-allowing="range[1;100]" name="children")
                        div.select-box
                            select#child-num.sel-def(name="children")
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                                option(value="6") 6
                                option(value="7") 7
                                option(value="8") 8
                                option(value="9") 9
                                option(value="10") 10

                    div.form-row__item
                        div.select-box
                            select#offer-periods.sel-def(name="period")

                div.form-row
                    div.form-row__item
                        input.inp-def(placeholder="Электронная почта" type="text" data-validation="email" name="email")

                div.form-row
                    div.form-row__item
                        input.inp-def(placeholder="Телефон" type="tel" data-validation="length" data-validation-length="min6" name="phone")

                div.form-row
                    div.form-row__item.row-item-send
                        button.btn-prim.btn-send(name="send-booking") Отправить

                    div.form-row__item
                        label.lbl-row.pd-processing
                            div.lbl-row__inp
                                div.fake-check.fake-check_check
                                    input(type="checkbox" data-validation="required" name="agreement" checked)
                                    div.fake-check__inp
                            span.lbl-row__txt Даю согласие на обработку персональных данных.

            div.form-booking__aside
                div.camp-offer
                    div.camp-offer__img
                        div#offer-geo.camp-geo Анапа
                        img#offer-pic(src="")

                    h3#offer-title.camp-title -

                    div#offer-data.camp-data
                        div.camp-data__item
                            img(src="img/ico-calendar.svg")
                            span#offer-data-days.js-offer-data-item - день
                        div.camp-data__item
                            img(src="img/ico-age.svg")
                            span.js-offer-data-item - лет

                    div.camp-offer__total
                        p#offer-cost-for.par Итоговая стоимость
                        div#offer-cost.camp-cost - руб.

    div#mfp-contacts.popup.mfp-hide
            //button.popup__close
            h3.popup__title Обратная связь

            form#pop-contacts.js-contact-form.form-feedback(data-type="question")
                div.form-row.form-row_3cols
                    div.form-row__item
                        input.inp-def(placeholder="ФИО" name="name" data-validation="required")

                    div.form-row__item
                        input.inp-def(placeholder="Электронная почта" type="mail" name="email" data-validation="email")

                    div.form-row__item
                        input.inp-def(placeholder="Телефон" type="tel" name="phone" data-validation="length" data-validation-length="min6")

                div.form-row
                    div.form-row__item
                        textarea.inp-def.tarea-def(placeholder="Введите сообщение" name="text" data-validation="required")

                div.form-row
                    div.form-row__item.row-item-send
                        button.btn-prim.btn-send Отправить

                    div.form-row__item
                        label.lbl-row.pd-processing
                            div.lbl-row__inp
                                div.fake-check.fake-check_check
                                    input(type="checkbox" data-validation="required" name="agreement" checked)
                                    div.fake-check__inp
                            span.lbl-row__txt Даю согласие на обработку персональных данных.

    div#mfp-success.popup.popup_success.mfp-hide
        img.popup__success-ico(src="img/ico-success.svg")
        p.popup__title Ваша заявка успешно отправлена!
        p.popup__success В&nbsp;ближайшее время с&nbsp;Вами свяжутся наши специалисты для уточнения деталей заказа.
        button.btn-sec.btn-send.js-mfp-close Понятно!