doctype html
html(lang="ru")
    head
        title Каникулы с пользой
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no, user-scalable=0")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        meta(name = "format-detection" content = "telephone=no")
        meta(name="keywords" content="ROSCAMPS")
        meta(name="description" content="Отдых в лучших детских лагерях России с мастер-классами и учебными курсами от Сбербанка")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/magnific.css")
    body
        div.c-wrap
            include ../includes/inc-head

        include ../includes/inc-top-banner
        include ../includes/inc-limited-offer

        div.c-wrap
            block page-content

        include ../includes/inc-bottom-contact-form

        script(src='js/jquery-3.3.1.min.js')
        script(src='js/jquery.form-validator.min.js')
        script(src='js/jquery.magnific-popup.min.js')
        script(src='js/main.min.js')
