.bot-form-wrap{
    background: url(../img/bg-bottom-form.png) 50% 0 no-repeat;
    background-size: cover;

    /*если футер накладывается поверх*/
    padding-bottom: 10rem;
}

.bot-contact{
    padding-top: 4%;
    padding-bottom: 3%;
    color: #fff;

    &__title{
        margin: 0 0 .5em;
        font-size: 2rem;
        font-weight: 600;

        @media (--mq-mobile) {
            font-size: 3rem;
        }
    }

    &__subtitle{
        font-size: 1.5rem;
        margin-bottom: 2em;
    }
}