.camp{
    position: relative;
    box-shadow: 2px 0 20px rgba(0,0,0,.1);
    box-sizing: border-box;

    &:first-child{
        margin-top: 3.4rem;
    }

    &:not(:last-child){
        margin-bottom: 1.5rem;
    }

    &.is-expanded{
        .camp-extended{
            margin-top: 1.5rem;
        }
    }


    @media (--mq-tablet) {
        padding-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    @media (--mq-desktop) {
        padding-bottom: 0;
        /*flex-wrap: nowrap;*/
    }

    &__gal{
        max-height: 20rem;
        position: relative;
        margin-bottom: .5rem;
        overflow: hidden;
        user-select: none;

        > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: zoom-in;
            top: 0;
            transition: left .4s;

            &:not(:first-of-type){
                position: absolute;
            }

            /*small gallery states*/

            &.is-cur{
                left: 0;
            }
        }

        @media (--mq-tablet) {
            max-height: 15rem;
            flex-basis: 40%;
        }

        @media (--mq-desktop) {
            margin-bottom: 0;
            flex-basis: 25%;
            flex-shrink: 0;
        }
    }

    &__body{
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @media (--mq-tablet) {
            flex-basis: 60%;
            box-sizing: border-box;
        }

        @media (--mq-desktop) {
            padding-right: 0;
            flex-basis: 47%;
            flex-grow: 2;
        }
    }

    &__offer{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        box-sizing: border-box;


        .camp-add{
            margin-top: .5rem;
            padding-top: .5rem;
            padding-bottom: .5rem;

            @media (--mq-desktop) {
                padding: 0;
                text-align: right;
            }
        }

        .camp-book{
            margin-top: 1.5rem;
            grid-area: book;
            justify-self: end;

            @media (--mq-mobile-small) {
                margin-top: 0;
                text-align: right;
            }

            @media (--mq-tablet) {
                margin-top: 1.5rem;
            }
        }

        @media (--mq-mobile-small) {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas:
                    "cost-add book"
                    "cost-add book";
        }

        @media (--mq-mobile) {
            grid-template-columns: auto 17rem;
            justify-content: end;
            margin-left: auto;
        }

        @media (--mq-desktop) {
            padding-left: 0;
            margin-left: auto;
            padding-top: 3rem;
            display: block;
        }
    }
}

.camp-geo{
    color: #fff;
    font-size: var(--fz-middle);
    font-weight: 500;
    background: rgba(202,0,68,.8);
    padding: .8em 1em .8em 2em;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    &:before{
        content: '';
        width: 12px;
        height: 16px;
        background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2212px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2012%2016%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M6.000%2C-0.000%20C9.314%2C-0.000%2012.000%2C2.686%2012.000%2C6.000%20C12.000%2C9.314%206.055%2C16.000%206.000%2C16.000%20C5.945%2C16.000%20-0.000%2C9.314%20-0.000%2C6.000%20C-0.000%2C2.686%202.686%2C-0.000%206.000%2C-0.000%20Z%22/%3E%0A%3C/svg%3E) 0 0 no-repeat;
        position: absolute;
        top: .8em;
        left: .7em;
    }
}

.camp-title{
    margin: 0 0 .4em;
    font-size: 2rem;

    @media (--mq-tablet) {
        margin-top: 1.5rem;
    }
}

.camp-data{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: var(--fz-middle);
    font-weight: 600;

    &__item{
        margin-right: 2em;
        line-height: 1;
        white-space: nowrap;

        &:last-child{
            margin-right: 0;
        }

        > img{
            margin-right: .5rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.camp-desc{
    margin: 1rem 0;
    color: #4c4c4c;

    p{
        margin: 0;
    }
}

.camp-cost{
    white-space: nowrap;
    margin-top: -.2ex;
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
}

.camp-cost-add{
    width: 2.1rem;
    height: 2.1rem;
    margin-right: .5rem;
    color: #fff;
    font-size: var(--fz-middle);
    text-align: center;
    line-height: 2rem;
    background: #b3b3b3;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    //position: absolute;
    //left: -2.5rem;
    //bottom: .2em;
    cursor: pointer;
    transition: background-color .2s;

    .camp-cost-hint{
        /*max-width: 70vw;*/
        min-width: 25em;
        position: absolute;
        top: -1.5rem;
        right: 0;
        transform: translate(90%, -100%);
        opacity: 0;
        z-index: -1;
        transition: opacity .2s;

        @media (--mq-tablet) {
            left: 50%;
            right: auto;
            transform: translate(-50%, -100%);

            &:after{
                left: calc(50% - .7rem);
            }
        }

        @media (--mq-desktop) {
            transform: translate(-80%, -100%);

            &:after{
                left: calc(80% - .7rem);
            }
        }
    }

    /*hide theme*/
    position: fixed;
    top: -100px;
    visibility: hidden;


    &.is-touch{
        background: var(--color-prim-purple);

        .camp-cost-hint{
            opacity: 1;
            z-index: auto;
        }
    }
}

.camp-cost-hint{
    max-width: 70vw;
    padding: 1rem;
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #000;
    font-size: var(--fz-base);
    box-shadow: 5px 0 20px rgba(0,0,0,.1);
    border-radius: 1em;
    position: relative;
    text-align: left;
    font-weight: 400;

    &:after{
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background: #fff;
        border-left: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        transform: rotate(-45deg);
        position: absolute;
        bottom: -.81rem;
       /* right: 7.1rem;*/
    }

    p{
        line-height: 1;

        &:first-child{
            margin-top: 0;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.camp-add{
    color: var(--color-prim-purple);
    cursor: pointer;
    position: relative;
    user-select: none;


    @media (--mq-tablet){
        text-align: right;
    }

    > img{
        margin-left: .5rem;
        display: inline-block;
        vertical-align: middle;
    }

    .camp-add-hint{
        min-width: 22em;
        position: absolute;
        right: -1.5rem;
        top: calc(-100% + 1.2rem);
        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;
        transition: opacity .2s;

        @media (--mq-desktop){
            top: -100%;
        }
    }

    /*&:hover,*/
    &.is-touch{
        .camp-add-hint{
            opacity: 1;
            z-index: auto;
        }
    }
}

.camp-add-hint{
    padding: 1rem;
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #000;
    font-size: var(--fz-base);
    box-shadow: 5px 0 20px rgba(0,0,0,.1);
    border-radius: 1em;
    position: relative;
    text-align: left;

    &:after{
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background: #fff;
        border-left: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        transform: rotate(-45deg);
        position: absolute;
        bottom: -.81rem;
        right: 50%;

        @media (--mq-desktop) {
            right: 1.5rem;
        }
    }

    .ul-def{
        margin: 0;
    }

    li{
        &:before{
            color: #000;
        }
    }
}

.camp-book{

    .btn-sec{
        padding: 0 2em;
        height: var(--input-height);
    }
}

.camp-includes-list{
    @media (--mq-tablet) {
        column-count: 3;
    }
}

.camp-btn-toggle{
    color: var(--color-prim-purple);
    border-bottom: 1px solid;
    font-size: var(--fz-middle);
    display: inline-block;
    position: relative;
    cursor: pointer;

    &_mobile{
        margin: 2rem 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @media (--mq-tablet) {
            display: none;
        }
    }

    &_tablet{
        display: none;
        align-self: flex-end;
        margin-left: 1.5rem;

        @media (--mq-tablet) {
            display: inline-block;
        }

        @media (--mq-desktop) {
            display: none;
        }
    }

    &_desctop{
        display: none;

        @media (--mq-desktop) {
            display: inline-block;
        }
    }

    &:after{
        content: '';
        width: 10px;
        height: 6px;
        margin-left: .5rem;
        display: inline-block;
        vertical-align: middle;
        background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2210px%22%20height%3D%226px%22%20viewBox%3D%220%200%2010%206%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28202%2C%200%2C%2068%29%22%0A%20d%3D%22M9.993%2C1.312%20L5.163%2C5.993%20L5.000%2C5.835%20L4.837%2C5.993%20L0.007%2C1.312%20L1.354%2C0.007%20L5.000%2C3.541%20L8.646%2C0.007%20L9.993%2C1.312%20Z%22/%3E%0A%3C/svg%3E) 0 0 no-repeat;
        position: absolute;
        right: calc(-10px + -.5rem);
        top: 50%;
    }
}

.is-expanded{
    .camp-btn-toggle:after{
        transform: rotate(180deg);
    }
}

.camp-extended{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: var(--fz-middle);
    border-top: 1px solid var(--color-brd-grey);
    display: none;

    &.is-open{
        display: block;

        @media (--mq-tablet) {
            margin-top: 1.5rem;
        }
    }

    @media (--mq-desktop){
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    &__section{
        padding: 1.5rem 0;

        &:not(:last-of-type){
            border-bottom: 1px solid var(--color-brd-grey);
        }

        .par-def{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .btn-send{
        display: block;
        margin-top: 0;
    }
}

.camp-benefit{

    &__title{
        margin: 0 0 .5em;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--color-prim-purple);

        &:before{
            content: '';
            width: 1.78em;
            height: 1.78em;
            margin-right: .3em;
            display: inline-block;
            vertical-align: middle;
            background-size: contain;
        }

        &.benefit-hab{
            &:before{
                background: url(../img/ico-benefit-hab.svg) 0 0 no-repeat;
            }
        }

        &.benefit-med{
            &:before{
                background: url(../img/ico-benefit-med.svg) 0 0 no-repeat;
            }
        }

        &.benefit-eat{
            &:before{
                background: url(../img/ico-benefit-eat.svg) 0 0 no-repeat;
            }
        }

        &.benefit-secure{
            &:before{
                background: url(../img/ico-benefit-secure.svg) 0 0 no-repeat;
            }
        }

        &.benefit-sport{
            &:before{
                background: url(../img/ico-benefit-sport.svg) 0 0 no-repeat;
            }
        }

        &.benefit-beach{
            &:before{
                background: url(../img/ico-benefit-beach.svg) 0 0 no-repeat;
            }
        }
    }

    .ul-def{
        margin-top: 0;

        &:last-child,
        &:only-child{
            margin-bottom: 0;
        }
    }

    .benefit-footnote{
        font-size: 1rem;
        color: #ccc;
    }
}

.camp-benefits{

    @media (--mq-tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item{
        margin-bottom: 2rem;

        @media (--mq-tablet) {
            flex-basis: 48%;

            &:last-child:nth-child(odd){
                flex-grow: 2;
            }
        }

        @media (--mq-desktop) {
            flex-basis: 32%;

            &:last-child:nth-child(odd){
                padding-left: 2%;
            }
        }
    }
}

.small-gal-arrow{
    width: 20%;
    height: 100%;
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20width%3D%2212px%22%20height%3D%2234px%22%20viewBox%3D%220%200%2012%2034%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22%23fff%22%0A%20d%3D%22M11.896%2C17.000%20L11.991%2C17.159%20L11.707%2C17.317%20L1.778%2C34.004%20L0.009%2C33.013%20L9.538%2C17.000%20L0.009%2C0.987%20L1.778%2C-0.004%20L11.707%2C16.682%20L11.991%2C16.841%20L11.896%2C17.000%20Z%22/%3E%0A%3C/svg%3E) 50% 50% no-repeat;
    position: absolute;
    top: 0;
    z-index: 3;

    &:hover{
        background-color: rgba(0,0,0,.3);
    }

    &.is-last{
        opacity: .5;
    }

    &-left{
        left: 0;
        transform: rotate(180deg);
    }

    &-right{
        right: 0;
    }
}