@font-face {
    font-family: 'Roboto';
    url('../fonts/Roboto-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    url('../fonts/Roboto-Medium.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
url('../fonts/Roboto-Bold.woff') format('woff'),
font-weight: 600;
    font-style: normal;
}

html,body{
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    font-family: var(--font-base);
    font-size: var(--fz-base);
    background: #fff;
    color: #000;
    position: relative;
}

.c-wrap{
    width: 100%;
    min-width: var(--p-wrap-min);
    max-width: var(--p-wrap-max);
    margin: auto;
    box-sizing: border-box;

    padding-right: 1.5rem;
    padding-left: 1.5rem;

    /*@media (--mq-desktop){
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }*/
}