.limited-offer{
    padding: 1.2em 1em;
    color: #fff;
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    background: #d52268 url(../img/bg-limited-offer.png) 0 0 repeat;

    .par-def{
        margin-bottom: .4em;

        @media (--mq-tablet){
            margin-bottom: .2em;
        }
    }

    &__lbl{
        padding: .4em 1.2em;
        font-size: .75em;
        display: inline-block;
        background: rgba(52,6,24,.3);
        border-radius: .4em;

        > b{
            font-weight: 500;
            font-size: 1.5em;
        }
    }
}