.p-head{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;

    &__contacts{
        margin-left: auto;
    }
}

.head-logo{
    display: flex;
    flex-basis: 70%;

    &__item{
        padding-right: 1rem;

        &:not(:first-child){
            border-left: 1px solid var(--color-brd-grey);
            padding-left: 1.2rem;
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}