.p-footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    background: rgba(0,0,0,.7);
    font-size: var(--fz-middle);

    &_is-overlay{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &__item{
        margin: 0;
    }
}