.popup{
    width: 100%;
    padding: 2.5rem;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    border-radius: 2rem;

    &_success{
        text-align: center;
        font-size: 1.5rem;
    }

    &__close{
        width: 1.3rem;
        height: 1.3rem;
        border: 0;
        background: transparent url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2016%22%0A%20width%3D%2216px%22%20height%3D%2216px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%280%2C%200%2C%200%29%22%0A%20d%3D%22M15.997%2C1.457%20L9.434%2C8.020%20L15.778%2C14.364%20L14.364%2C15.778%20L8.020%2C9.434%20L1.457%2C15.997%20L0.003%2C14.543%20L6.566%2C7.980%20L0.222%2C1.636%20L1.636%2C0.222%20L7.980%2C6.566%20L14.543%2C0.003%20L15.997%2C1.457%20Z%22/%3E%0A%3C/svg%3E) 50% 50% no-repeat;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }

    &__title{
        margin-top: 0;
        font-size: 2.5rem;
        font-weight: 600;
    }

    &__success-ico{
        margin-bottom: 5%;
    }

    &__success{
        padding: 0 10%;
    }

    @media (--mq-desktop) {
        /*max-width: 90%;*/
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto;
    }
}

/* FORMS */

.form-booking{
    display: flex;
    flex-direction: column-reverse;

    &__aside{
        margin-bottom: 1.6rem;
    }

    @media (--mq-tablet) {
        flex-direction: row;

        &__body{
            padding-right: 2.5rem;
            flex-basis: 60%;
            box-sizing: border-box;
        }

        &__aside{
            flex-basis: 300px;
            flex-shrink: 0;
        }
    }
}

.camp-offer{
    padding: 1.5rem;
    background: #f0f0f0;

    &__img{
        margin: -1.5rem -1.5rem 0;
        position: relative;

        > img{
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 15rem;
        }
    }

    &__total{
        .par{
            margin-bottom: .2em;
            color: #4c4c4c;
            font-size: var(--fz-middle);
        }

    }

    .camp-title{
        margin-top: .4em;
    }
}


/* FORMS CUSTOMIZE */
.row-item-childs{
    @media (--mq-tablet) {
        flex-basis: 11rem;
        flex-grow: 0;
    }
}

.row-item-send{
    .btn-send{
        margin-top: 0;
    }

    @media (--mq-tablet) {
        flex-basis: 13rem;
        flex-grow: 0;
    }
}

.komputerra{
    .lbl-row:first-child{
        margin-bottom: .6rem;
    }
}

/*var id = window.location.href.replace(/\D+/g, '' );*/