.top-banner{
    padding-top: 4%;
    padding-bottom: 3%;
    background: url(../img/bg-top-banner.png) 50% 50% no-repeat;
    background-size: cover;
    color: #fff;

    &__content{
        font-size: 1.5rem;
        text-shadow: 0 3px 6px rgba(0,0,0,35);

        @media (--mq-tablet){
            max-width: 45%;
        }

        &-title{
            margin: 0 0 1em;
            /*font-family: var(--font-bold);*/
            font-weight: 600;
            font-size: 3rem;
        }

        &-ad{
            margin-top: 1em;
        }

        .ul-def,
        .par-def{
            line-height: 1.4;
            margin-bottom: 1em;
        }
    }
}
