.par-def{
    margin-top: 0;
}

.ul-def{
    padding: 0;
    margin-left: 0;
    list-style-position: inside;

    &_dots{
        list-style-type: none;

        li{
            position: relative;
            margin: .5em 0;
            padding-left: .8em;

            &:before{
                content: '\2022';
                margin-right: .5em;
                color: var(--color-prim-purple);
                position: absolute;
                left: 0;
                top: .1ex;
            }
        }
    }
}