/*--BUTTONS--*/

.btn-sec {
    outline: 0;

    height: var(--btn-height);
    padding: 0 1em;
    display: inline-block;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    /*font-family: var(--font-medium);*/
    font-family: inherit;
    font-weight: 500;
    font-size: var(--fz-middle);
    background: var(--color-btn-green);
    border-radius: 6px;
    cursor: pointer;

    transition: background-color .2s, border-color .2s;

    &:hover{
        background: #fff;
        color: var(--color-btn-green);
        border-color: var(--color-btn-green);
    }
}

.btn-prim {
    outline: 0;
    border: 0;

    height: var(--btn-height);
    padding: 0 1em;
    display: inline-block;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: var(--fz-middle);
    background: var(--color-prim-purple);
    border-radius: 6px;
    cursor: pointer;

    &:disabled {
        background: #ccc;
    }

    &:hover{
        background: #fff;
        color: var(--color-prim-purple);
        border-color: var(--color-prim-purple);
    }
}

.btn-send {
    min-width: 11em;
    margin: 1.5em auto 0;
}

.btn-contact {
    width: var(--btn-height);
    padding: 0;

    @media (--mq-tablet) {
        width: auto;
        padding: 0 1em;
    }

    &__txt {
        display: none;

        @media (--mq-tablet) {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__ico {
        vertical-align: middle;

        @media (--mq-tablet) {
            display: none;
        }
    }
}

/*--INPUTS--*/
.inp-def {
    height: var(--input-height);
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    font-family: inherit;
    font-size: var(--fz-middle);
    box-sizing: border-box;

    &:hover,
    &:focus {
        border-color: var(--color-active-blue);
        outline: 0;
        box-shadow: none;
    }

    &.error {
        border-color: var(--color-error-red) !important;
    }
}

.help-block.form-error{

    color: var(--color-error-red);
    margin-top: .4em;
    display: inline-block;

    position: absolute;
    left: 1em;
    bottom: 0;
    transform: translateY(110%);
}

.tarea-def {
    min-height: 7.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    resize: vertical;

    &:focus {
        border-color: var(--color-active-blue);
        outline: 0;
        box-shadow: none;
    }

    &.has-error {
        border-color: var(--color-error-red);
    }
}

/* CHECKBOX, RADIO*/
.lbl-row {
    display: flex;
    align-items: center;

    &_a-top {
        .lbl-row__inp {
            align-self: flex-start;
        }
    }

    &__inp {
        flex-shrink: 0;
        margin-right: .5em;
    }

    &__txt {
        flex-basis: 90%;
    }
}

.fake-check {
    position: relative;

    > input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &__inp {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
    }

    &.fake-check_check {
        .fake-check__inp {
            border: 1px solid var(--color-brd-grey);
            border-radius: 2px;
        }

        input[type='checkbox']:hover + .fake-check__inp,
        input[type='checkbox']:focus + .fake-check__inp {
            border-color: var(--color-active-blue);
        }

        input[type='checkbox']:checked + .fake-check__inp {
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2014%2010%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28213%2C%2034%2C%20104%29%22%20d%3D%22M13.243%2C2.171%20L6.172%2C9.243%20L6.000%2C9.071%20L5.828%2C9.243%20L0.757%2C4.171%20L2.172%2C2.757%20L6.000%2C6.586%20L11.828%2C0.757%20L13.243%2C2.171%20Z%22/%3E%3C/svg%3E) 50% 50% no-repeat;
                position: absolute;
                top: 0;
                left: 0;
            }

        }
    }

    &.fake-check_radio{
        .fake-check__inp{
            border: 1px solid var(--color-brd-grey);
            border-radius: 50%;
            background: #fff;
            position: relative;
        }

        input[type='radio']:checked + .fake-check__inp{
            &:after{
                content: '';
                width: 60%;
                height: 60%;
                border-radius: 50%;
                background: var(--color-prim-purple);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        }
    }

    .help-block.form-error{
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform: translateY(-120%);
    }
}

/* SELECT */

.select-box {
    height: var(--input-height);
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    position: relative;
    box-sizing: border-box;

    .sel-def {
        width: 100%;
        padding-right: var(--input-height);
        box-sizing: border-box;
        background: transparent;
        border: 0;
        appearance: none;
        position: relative;
        z-index: 2;

        &::-ms-expand {
            display: none;
        }
    }

    &:after {
        content: '';
        width: var(--input-height);
        height: var(--input-height);
        background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2014%2010%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28213%2C%2034%2C%20104%29%22%20d%3D%22M13.243%2C2.171%20L6.172%2C9.243%20L6.000%2C9.071%20L5.828%2C9.243%20L0.757%2C4.171%20L2.172%2C2.757%20L6.000%2C6.586%20L11.828%2C0.757%20L13.243%2C2.171%20Z%22/%3E%3C/svg%3E) 50% 50% no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.sel-def {
    height: 50px;
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    font-family: inherit;
    font-size: var(--fz-middle);
    box-sizing: border-box;

    &:hover,
    &:focus {
        border-color: var(--color-active-blue);
        outline: 0;
        box-shadow: none;
    }

    &.has-error {
        border-color: var(--color-error-red);
    }
}

/*FORM LAYOUTS*/
.form-row {
    margin-right: -.7rem;
    margin-left: -.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &_3cols {

        @media (--mq-tablet) {
            .form-row__item {
                flex-basis: 33%;
            }
        }
    }

    &__item {
        margin-bottom: 1.6rem;
        padding-right: .7rem;
        padding-left: .7rem;

        box-sizing: border-box;
        flex-basis: 100%;
        position: relative;

        @media (--mq-tablet) {
            flex-basis: 50%;
            flex-grow: 3;
        }

        .select-box,
        .inp-def {
            width: 100%;
        }
    }
}