:root{
    --font-base: 'Roboto', sans-serif;
    --font-medium: 'Roboto-Medium', sans-serif;
    --font-bold: 'Roboto-Bold', sans-serif;
    --fz-base: 12px;
    --fz-middle: 14px;

    --color-btn-green: #95b300;
    --color-brd-grey: #adadad;
    --color-prim-purple: #d52268;
    --color-error-red: #ff0000;
    --color-active-blue: #4b8ec4;

    --btn-height: 44px;
    --input-height: 50px;

    --p-wrap-min: 320px;
    --p-wrap-max: 1000px;

    @custom-media --mq-mobile-small (min-width: 480px);

    @custom-media --mq-mobile (min-width: 640px);

    @custom-media --mq-tablet (min-width: 768px);

    @custom-media --mq-desktop (min-width: 1000px);
}